/* custom variables */

:root {
  --color-dark: #1A1A1A;    /* bold text */
  --color-medium: #555555;  /* lighter text */
  --color-light: #ffffff;   /* background */
  --color-white: #ffffff;   /* optional: for contrast */
  --font-general: 'Poppins', sans-serif; /* general font */
}

/* -------general styles-------------------- */

body {
  background-color: var(--color-light);
  font-family: var(--font-general);
}

h1 {
  color: var(--color-dark);
}

p {
  color: var(--color-dark);
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}