/* general things */

:root {
  --color-dark: #333333;    /* bold text */
  --color-medium: #888888;  /* lighter text */
  --color-light: #eeeeee;   /* background */
  --color-white: #ffffff;   /* optional: for contrast */
}